numpy==1.21.0
matplotlib==3.4.2
scipy==1.7.0
scikit-rf==0.18.0
scapy==2.4.5
folium==0.12.1
geopy==2.2.0
tk==0.1.0
Shapely==1.7.1
urllib3==1.26.6
librosa==0.8.0
pyaudio==0.2.11
pyrtlsdr==0.2.0
secrets==1.0.2
cryptography==3.4.8
